[Desktop Entry]
Comment=Pharo IoT Server environment
Terminal=false
Name=Pharo IoT Server
Exec=${INSTALL_DIR}/pharo-server
Type=Application
Icon=${INSTALL_DIR}/icons/Pharo.png
X-Desktop-File-Install-Version=0.22
GenericName=Programming
Categories=Application;Development;
Name[en_US]=pharoiot-server-launcher.desktop
